/*

1. По тегу или селектору
2. По классу
3. По Айди

1.Selector
name_of_selector {
	rule: value;
}

2. Class
.name_of_class {
	rule: value;
}

3. ID 

#name_of_Id {
	rule: value;
}

*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	background-color: #428f8f;
	}
div {
	width: 70%;
	margin: 30px auto;
	padding: 30px;
	background-color: #0c4747;
	box-shadow: 5px 5px 10px 3px rgba(5,13,13,0.7);
}	

img {
	width: 100%;
	height: auto;

}

p{
	font-size: 20pt;
	text-align: justify;
	margin: 20px 0px;
}
a {
	display: block;
	font-size: 20pt;
	text-align: center;

}

h1{
	font-size:42pt;
	text-align:center;
	font-family: voronov;
}
@font-face {
	font-family: voronov;
	src: url("Voronov.ttf");
}