*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}

body{
	background-color: #49648c;
}
div{
	width: 70%;
	margin: 30px auto;
	padding: 30px;
	background-color:#91afdb;
	box-shadow: 5px 5px 10px 3px rgba(158, 127, 199,0.7);
}
img{
	width: 100%;
	height: auto;
	

}
 h1 {
 	font-size:50pt;
	text-align:center;
 }
  p{
  	font-size: 30pt;
	text-align: justify;
	margin: 20px 0px;
  }
a{
	display: block;
	font-size: 30pt;
	text-align: center;

}
